*{
    margin: 0;
    padding: 0;  
}


html{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main {
    background-color: #181C14;
    min-height: 100vh;
    align-content: center;
}

h1 {
    color: #ECDFCC;
    margin: 2px;
}

p{
    color: #FFE6A9;
}

.box {
    background: #3C3D37;
    margin: 0 auto;
    padding: 2em;
    width: 300px;
    text-align: center;
    border-radius: 15px;
    position: relative;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}    
 
.box::after, .box::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), #C30E59, #FB4141, #F26B0F, #81BFDA, #FCC6FF);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 15px;
    opacity: 20%;
    animation: 3s spin linear infinite;
}

.box::before{
    filter: blur(1.5rem);
    opacity: 0.5;
}
  @keyframes spin{
    from{
      --angle: 0deg;
    }
    to{
      --angle: 360deg;
    }
}